* {
    margin:0;padding:0;          
    /*解决了top和banner之间的距离*/
}
body {    
    font-family:宋体;
    font-size:12px;
    font-family:宋体;
    font-size:12px;
}
ul {
    list-style:none;
}
img{ border:0}
a{ text-decoration:none}



#container {    
    width:100%;
    height:100%;       
}
#top {
    margin:0 auto;
    padding:0;
    width:1005px;
    height:136px;            
}
#logo {
    /*padding:25px 0 0 20px;*/    
}
#companyName {
    /*padding:0 0 10px 10px;*/
}
#phoneNumber {    
    margin-top:-110px;    
    float:right;        
    display:inline;    
}
    #phoneNumber ul {
      margin-top:30px;
      margin-left:100px;
    }
        #phoneNumber ul li {
            float:left;
            text-align:right;
            margin-right:10px;
        }
#phoneNumber img{
    margin-top:15px;
}

#banner {    
    margin: 0 auto;
    width: 1005px;
    height: 44px;
    background:#006088;    
}
    #banner ul li {
        line-height:44px;        
        float: left;
        background:url(../images/bannerBg.jpg) right center no-repeat;
        padding:0 10px;
        display:inline;               
    }
        #banner ul li:hover {            
            cursor:pointer
        }
        #banner ul li a {
            display:block;
            font-size:15px;                        
            padding:0 5px;
        }
            #banner ul li a:hover {               
               background:orange;                                                      
            }
    #banner div  input{
   
    }

#banInput {
    display:block;
    height:44px;
    text-align:center;
    line-height:44px;
}
#searchInput {
    background:url(../images/searchInputBg.jpg);
    width:141px;
    height:26px;
    line-height:26px;
    border:0;                    /*去掉爆丑的边框*/            
    margin-left:25px;
    
}
#searchBtn {
    text-align:center;    
    width:32px;
    height:26px;
    line-height:26px;
    background:url(../images/searchBtnBg.jpg);
    border:0;    
    
}
   

/*#center {
    width:1005px;
    height:500px;
    margin:0 auto;
    background:red;
}*/
        


   
  
    
    






    
  